.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background: linear-gradient(to right, #4b6cb7, #182848); 
  color: #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  transition: background-color 0.3s ease; 
}

.navbar .logo {
  width: max(4vw, 70px);
  border-radius: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar ul li::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ff6f61;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar ul li:hover::before {
  visibility: visible;
  width: 100%;
}

.navbar ul li:hover {
  color: #ff6f61; 
}

.nav_right {
  display: flex;
  align-items: center;
  gap: max(1vw, 20px);
}

.nav_right button {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #ff6f61; 
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  transition: background-color 0.3s ease; 
}

.nav_right button:hover {
  background-color: #ff8a75; 
}

.nav_right button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav_right button:hover::before {
  visibility: visible;
  width: 100%;
}

.navbar select {
  background: transparent;
  color: aliceblue;
  border: 2px solid white;
  padding: 5px 8px;
  border-radius: 10px;
  transition: border-color 0.3s ease; 
}

.navbar select:hover {
  border-color: #ff6f61; 
}

.nav_right option {
  background-color: #09005c;
  color: #ddd;
}

.navbar.light {
  background-color: #F8F8FF;
  color: #000;
}

.navbar.dark {
  background: linear-gradient(#0b004e, #09005c);  
  color: #ddd;
}
